#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 1px 2px 3px color-border
  // box-shadow: 0 -1px 4px color-widget-border inset
  //border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-grey
    text-decoration: none
    &:hover
      text-decoration: underline
      color: color-link
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

#toc
  .toc-child
    padding-left: 1em

.toc-article
  margin: block-margin 0
  border-left: 3px solid #dedede
  text-decoration: none
#toc-title
  padding: 0 15px
  font-size: 1.5em
  font-weight: bold
  text-shadow: 0 1px #fff
  color: #c7c7c7
#toc-content
  padding: 10px 15px
  padding-bottom: 0
  a
    font-size: 1.2em
    font-weight: bold
    line-height: 1.5em
    text-shadow: 0 1px #fff
    color: #c7c7c7
    text-decoration: none
    &:hover
      text-decoration: underline
      color: color-link
